@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
$lexend: "Lexend", sans-serif;

.container {
  h1 {
    font-family: $lexend;
  }
  p {
    font-family: $lexend;
  }
}

.input-group {
  input {
    font-family: $lexend;
    outline: none !important;
  }
  button {
    font-family: $lexend;
  }
}

.form-group {
  label {
    font-family: $lexend;
  }
  textarea {
    font-family: $lexend;
  }
}

.cp-btn {
  button {
    font-family: $lexend;
  }
}

footer {
  p {
    font-family: $lexend;
  }
  .text-purple {
    color: #800080;
  }
  .text-pink {
    color: #ff1493;
  }
  .text-yellow {
    color: #e4e41b;
  }
  hoverable {
    color: #212529;
  }
  hoverable:hover {
    color: #800080;
  }
}
