$lexend: 'Lexend', sans-serif;

body {
    transition: background 0.1s;
}

.dark {
    background: #1a202c;
    color: #ffffff;
    transition: background 0.1s;

    .mode-toggler {
        color: #ffffff;
    }
    input {
        color: #ffffff;
        background-color: #1f2633;
        outline-color: #1a202c;
    }
    textarea {
        color: #ffffff;
        background-color: #1f2633 !important;
    }
    input:focus {
        color: #ffffff;
        background-color: #1f2633;
        outline-color: #1a202c;
    }
    footer p a {
        color: #ffffff;
    }
}

.container {
    h1 {
        font-family: $lexend;
        margin-top: 25px;
    }
    p {
        font-family: $lexend;
        transition: color 0.1s;
    }
}

button .mode-toggler {
    filter: blur(7px);
    -webkit-filter: blur(7px);
}

.input-group {
    input {
        font-family: $lexend;
        outline: none !important;
        transition: background 0.1s;
    }
    button {
        font-family: $lexend;
    }
}

.choose-temp {
    button {
        font-family: $lexend;
        color: #ffffff !important;
    }
}

.form-group {
    label {
        font-family: $lexend;
    }
    textarea {
        font-family: $lexend;
        transition: background 0.1s;
    }
}

.cp-btn {
    button {
        font-family: $lexend;
    }
}

footer {
    p {
        font-family: $lexend;
    }
    .text-purple {
        color: #800080;
    }
    .text-pink {
        color: #ff1493;
    }
    .text-yellow {
        color: #e4e41b;
    }
    hoverable {
        color: #212529;
    }
    hoverable:hover {
        color: #800080;
    }
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #0d6efd;
    border-radius: 10px;
}

@media screen and (min-width: 576px) {
    button .mode-toggler {
        margin-bottom: 10rem;
    }
}
